<div class="footer">
    <div class="container">
        <footer>
            <p>&copy; @DateTime.Now.Year - Batch Job 管理</p>
        </footer>
    </div>
</div>
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquerybootstrap")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/site")